body{
	padding:0;
	margin:0;
	background-color:#D4E0EC;
	font-family:"Lucida Grande", "Helvetica", "Arial", sans-serif;
}

#scroll{
	margin:150px auto 0;
	width:1000px;
	height:600px;
	background:url(pergamino.png) no-repeat;
}

#wrapper{
	display:none;
	margin:150px auto 0;
	width:990px;
}

	#window-top{
		height:31px;
		background:url(window-top.png) no-repeat;
	}
	
	#window-content{
		background:url(window-bg.png) repeat-y;
		padding:15px 37px;
	}
		
		#left-column{
			float:left;
			width:404px;
		}
		
			#webcam{
				height:304px; /* DELETE ALL HEIGHTS */
			}
			
			#code-input{
				height:38px;
				padding: 40px 33px;
			}
				
				#code-text{
					width:270px;
					height:35px;
					border-top-left-radius:10px;
					border-bottom-left-radius:10px;
					background-color:#FEFEFE;
					border:1px solid #666666;
					outline:0;
					padding-left:10px;
					font-size:16px;
					float:left;
				}
				
				#code-submit{
					width:36px;
					height:23px;
					border-top-right-radius:10px;
					border-bottom-right-radius:10px;
					background-color:#8A96B8;
					border:1px solid #666666;
					border-left:none;
					padding:7px 9px;
					font-size:22px;
					float:left;
					color:#FEFEFE;
					cursor:pointer;
				}
				
				#code-submit:hover{
					background-color:#99A6CC;
				}
		
		#right-column{
			float:right;
			width:499px;
		}
			
			#geogebra{
				height:302px;
			}
				
			
			#statement{
				height:92px;
			}
	
	#window-bottom{
		height:31px;
		background:url(window-bottom.png) no-repeat;
	}

.round-border{
	padding:12px;
	border-radius:10px;
	background-color:#B8B8B8;
}

.frame{
	border:1px solid #919191;
	background-color:#FEFEFE;
}

.top{
	margin-bottom:13px;
}

.clear{
	clear:both;
}